/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.rounded-10 {
    border-radius: 1rem;
}

.w-90 {
    width: 90% !important;
}

.mw-90 {
    max-width: 90% !important;
}

.pointer {
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    right: 30px;
    bottom: 30px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    color: #2A4B7C;
}

.back-to-top i:hover {
    color: #202C45;
}

.back-to-top {
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}
